.popup__button-save {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  margin-top: 48px;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: .5s;
}
.popup__button-save:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}
@media screen and (max-width: 579px) {
  .popup__button-save{
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}