.page {
  min-width: 282px;
  max-width: 880px;
  background: #000000;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}