.popup__form-input  {
  width: 358px;
  border: solid rgba(0, 0, 0, .2);
  border-width: 0 0 1px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 14px;
  padding: 9px 0 9px 3px;
  margin-bottom: 25px;
}
@media screen and (max-width: 579px) {
  .popup__form-input {
    width: 238px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.popup__form-input:last-of-type {
  margin-bottom: 0;
}