.place__image {
  grid-template: place__image;
  width: 100%;
}
@media screen and (max-width: 719px) {
  .place__image {
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 460px;
    align-self: center;
  }
}
