.profile__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  width: 294px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0px;
}
@media screen and (max-width: 710px) {
  .profile__title {
    margin: 0 auto 9px;
    font-size: 27px;
    line-height: 32.68px;
    width: 189px;
  }
}