.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
@media screen and (max-width: 700px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}