.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  padding-top: 92px;
  padding-left: 100px;
}
@media screen and (max-width: 1279px) {
  .intro {
    padding-left: calc((100vw - 1097px) / 2);
  }
}
@media screen and (max-width: 1193px) {
  .intro {
    padding-left: 48px;
  }
}
@media screen and (max-width: 1023px) {
  .intro {
    max-width: 100%;
    padding-top: 88px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}