.cover {
  margin: 0 auto;
  min-width: 320px;
  min-height: calc(100vw / 1.6);
}
@media screen and (min-width: 768px) {
  .cover {
    min-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .cover {
    min-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    padding: 0 48px 0;
    width: 1184px;
    min-height: 740px;
    max-height: 740px;
  }
}