.cover__overlay {
  min-height: 740px;
  background-color: rgba(42, 44, 47, .3);
}
.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
  transition: background-color .5s;
}
@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}
@media screen and (max-width: 896px) {
  .cover__overlay {
    min-height: 480px;
  }
}
@media screen and (max-width: 544px) {
  .cover__overlay {
    min-height: 200px;
  }
}