.cover__title {
  margin: 0 auto; 
  width: 288px;
  padding: 33px 0 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 321px) {
  .cover__title {
    padding: calc((100vw / 5.46) - 25px) 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    padding: 115px 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__title {
    padding: 195px 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__title {
    padding: 245px 0 32px;
  }
}