.footer {
  margin: 0 auto;
  min-width: 168px;
  padding: 64px 0 24px 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-width: 720px;
    padding: 88px 24px 24px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 92px 48px 24px;
    min-width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}