.place__website {
  grid-template: place__website;
  align-self: end;
}
@media screen and (max-width: 719px) {
  .place__website {
    margin-top: 32px;
    align-self: center;
  }
}
@media screen and (max-width: 350px) {
  .place__website {
    align-self: normal;
  }
}